<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
      <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="home">home</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="card">cards</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
      </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <div class="container-fluid">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

